---
title: "BIOS 512 Homework 2"
output: pdf_document
---

## Load Necessary Packages...

If you need to install tidyverse, you can use install.packages("tidyverse"). If you already have tidyverse installed, you can just load the package:

In [1]:
library(tidyverse);

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.5
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.3      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Question 1

What are three ways that we can assign the value of 25 to y?

In [8]:
y <- 25
cat(y)

25

In [9]:
y = 25
cat(y)

25

In [10]:
assign("y", 25)
cat(y)

25

## Question 2

How would I print the following line, including the quotes, in R?\
**He said, "I'm Garth Marenghi. Author. Dreamweaver. Visionary. Plus actor."**

In [7]:
# using cat()&\"
cat("He said, \"I'm Garth Marenghi. Author. Dreamweaver. Visionary. Plus actor.\"")

He said, "I'm Garth Marenghi. Author. Dreamweaver. Visionary. Plus actor."

## Question 3

What if I wanted to add backslashes into the statement from Question 1 to make the statement below?\
**He said, "I'm Garth Marenghi. Author\\Dreamweaver\\Visionary. Plus actor."**

In [11]:
cat("He said, \"I'm Garth Marenghi. Author\\Dreanmweaver\\Visionary.Plus actor.\"")

He said, "I'm Garth Marenghi. Author\Dreanmweaver\Visionary.Plus actor."

## Question 4

Show two ways to get the following array: 1 2 3

In [12]:
# using c()
x <- c(1, 2, 3)
print(x)

[1] 1 2 3

In [13]:
# using :
x <- 1:3
print(x)

[1] 1 2 3

## Question 5

What does R call things like +, -, sin(), c(), etc? What about \<-?

For "+" and "-", they are called arithmetic operators
For "sin()" and "c()", they are called functions
And for "<-", it is the assignment operator

## Question 6

What's the difference in the way R processes the while() and the for() below?

In [15]:
x <- 0;
while (x <= 3) {
    x <- x + 1;
}
x

for(y in c(1,2,3)) {
     y <- y + 1;
}
y

[1] 4

[1] 4

Each of these two processes results in 4, but for "while()", it is controlled by a condition, only when x <= 3, the loop will continue. But for the "for()", it is controlled by the iterator, it will process one by one until the way through the arrary.

## Question 7

Create the Pythagorean formula and evaluate it with a=3 and b=4. Print the output.

In [16]:
a <- 3
b <- 4
x <- sqrt(a^2 + b^2)
x

[1] 5

## Question 8

Load the help for the built in sin() function.

In [18]:
?sin()

Trig                   package:base                    R Documentation

_T_r_i_g_o_n_o_m_e_t_r_i_c _F_u_n_c_t_i_o_n_s

_D_e_s_c_r_i_p_t_i_o_n:

     These functions give the obvious trigonometric functions.  They
     respectively compute the cosine, sine, tangent, arc-cosine,
     arc-sine, arc-tangent, and the two-argument arc-tangent.

     ‘cospi(x)’, ‘sinpi(x)’, and ‘tanpi(x)’, compute ‘cos(pi*x)’,
     ‘sin(pi*x)’, and ‘tan(pi*x)’.

_U_s_a_g_e:

     cos(x)
     sin(x)
     tan(x)

     acos(x)
     asin(x)
     atan(x)
     atan2(y, x)

     cospi(x)
     sinpi(x)
     tanpi(x)

_A_r_g_u_m_e_n_t_s:

    x, y: numeric or complex vectors.

_D_e_t_a_i_l_s:

     The arc-tangent of two arguments ‘atan2(y, x)’ returns the angle
     between the x-axis and the vector from the origin to (x, y), i.e.,
     for positive arguments ‘atan2(y, x) == atan(y/x)’.

     Angles are in radians, not degrees, for the standard versions
     (i.e., a right angle is pi/2), and in ‘half-rotations’ for ‘cospi’
     etc.

     ‘cospi(x)’, ‘sinpi(x)’, and ‘tanpi(x)’ are accurate for ‘x’ values
     which are multiples of a half.

     All except ‘atan2’ are internal generic primitive functions:
     methods can be defined for them individually or via the ‘Math’
     group generic.

     These are all wrappers to system calls of the same name (with
     prefix ‘c’ for complex arguments) where available.  (‘cospi’,
     ‘sinpi’, and ‘tanpi’ are part of a C11 extension and provided by
     e.g. macOS and Solaris: where not yet available call to ‘cos’
     _etc_ are used, with special cases for multiples of a half.)

_V_a_l_u_e:

     ‘tanpi(0.5)’ is ‘NaN’.  Similarly for other inputs with fractional
     part ‘0.5’.

_C_o_m_p_l_e_x _v_a_l_u_e_s:

     For the inverse trigonometric functions, branch cuts are defined
     as in Abramowitz and Stegun, figure 4.4, page 79.

     For ‘asin’ and ‘acos’, there are two cuts, both along the real
     axis: (-Inf, -1] and [1, Inf).

     For ‘atan’ there are two cuts, both along the pure imaginary axis:
     (-1i*Inf, -1i] and [1i, 1i*Inf).

     The behaviour actually on the cuts follows the C99 standard which
     requires continuity coming round the endpoint in a
     counter-clockwise direction.

     Complex arguments for ‘cospi’, ‘sinpi’, and ‘tanpi’ are not yet
     implemented, and they are a ‘future direction’ of ISO/IEC TS
     18661-4.

_S_4 _m_e_t_h_o_d_s:

     All except ‘atan2’ are S4 generic functions: methods can be
     defined for them individually or via the ‘Math’ group generic.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

     Abramowitz, M. and Stegun, I. A. (1972). _Handbook of Mathematical
     Functions_. New York: Dover.
     Chapter 4. Elementary Transcendental Functions: Logarithmic,
     Exponential, Circular and Hyperbolic Functions

     For ‘cospi’, ‘sinpi’, and ‘tanpi’ the C11 extension ISO/IEC TS
     18661-4:2015 (draft at
     <https://www.open-std.org/jtc1/sc22/wg14/www/docs/n1950.pdf>).

_E_x_a_m_p_l_e_s:

     x <- seq(-3, 7, by = 1/8)
     tx <- cbind(x, cos(pi*x), cospi(x), sin(pi*x), sinpi(x),
                    tan(pi*x), tanpi(x), deparse.level=2)
     op <- options(digits = 4, width = 90) # for nice formatting
     head(tx)
     tx[ (x %% 1) %in% c(0, 0.5) ,]
     options(op)

## Question 9

Which version of the counter function works? What is the difference in the way R processes the two functions?

In [2]:

counter1 <- function(start, step){
    val <- start;
    function(){
        old_val <- val;
        val <- val + step;
        old_val;
    }
}
counter_from_1 <- counter1(1,1);
counter_from_1()
counter_from_1()

counter2 <- function(start, step){
    val <- start;
    function(){
        old_val <- val;
        val <<- val + step;
        old_val;
    }
}
counter_from_1 <- counter2(1,1);
counter_from_1()
counter_from_1()

[1] 1

[1] 1

[1] 1

[1] 2

We can see that the only difference between function counter1 and function counter2 is that: one using "<-" to pass the value, another using "<<-"

The difference between those two operators is that "<-" is used to assign a value to the variable in the current environment, and "<<-" is used to assign a value to the variable in the first parent environment where it already exists. If it doesn't exist in any parent, it creates a new variable in the global environment.

For counter1, val will always be 1, because in this step, "val <- val + step;", it always assigns 1 to val.

## Question 10

a)  Use read_csv the cars.csv and store it in a data frame.
b)  Then, group the data frame by Make, get averages across the numeric variables, and then sort by Volume in descending order. Hint: Use summarise(across(c(<variable list>), mean)) to get the averages.

In [2]:
library(readr)
cars_df <- read_csv("cars.csv")
cars_df

Rows: 36 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): Make, Model
dbl (3): Volume, Weight, CO2

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   Make       Model      Volume Weight CO2
1  Toyoty     Aygo       1000    790    99
2  Mitsubishi Space Star 1200   1160    95
3  Skoda      Citigo     1000    929    95
4  Fiat       500         900    865    90
5  Mini       Cooper     1500   1140   105
6  VW         Up!        1000    929   105
7  Skoda      Fabia      1400   1109    90
8  Mercedes   A-Class    1500   1365    92
9  Ford       Fiesta     1500   1112    98
10 Audi       A1         1600   1150    99
11 Hyundai    I20        1100    980    99
12 Suzuki     Swift      1300    990   101
13 Ford       Fiesta     1000   1112    99
14 Honda      Civic      1600   1252    94
15 Hundai     I30        1600   1326    97
16 Opel       Astra      1600   1330    97
17 BMW        1          1600   1365    99
18 Mazda      3          2200   1280   104
19 Skoda      Rapid      1600   1119   104
20 Ford       Focus      2000   1328   105
21 Ford       Mondeo     1600   1584    94
22 Opel       Insignia   2000   1428    99
23 Mercedes   C-Class    2100   1365    99
24 Skoda      Octavia    1600   1415    99
25 Volvo      S60        2000   1415    99
26 Mercedes   CLA        1500   1465   102
27 Audi       A4         2000   1490   104
28 Audi       A6         2000   1725   114
29 Volvo      V70        1600   1523   109
30 BMW        5          2000   1705   114
31 Mercedes   E-Class    2100   1605   115
32 Volvo      XC70       2000   1746   117
33 Ford       B-Max      1600   1235   104
34 BMW        216        1600   1390   108
35 Opel       Zafira     1600   1405   109
36 Mercedes   SLK        2500   1395   120

In [6]:
library(dplyr)
cars_result <- cars_df %>%
group_by(Make) %>%
summarise(across(c(Volume, Weight, CO2), mean)) %>%
arrange(desc(Volume))
cars_result

   Make       Volume   Weight   CO2
1  Mazda      2200.000 1280.000 104.0000
2  Mercedes   1940.000 1439.000 105.6000
3  Audi       1866.667 1455.000 105.6667
4  Volvo      1866.667 1561.333 108.3333
5  BMW        1733.333 1486.667 107.0000
6  Opel       1733.333 1387.667 101.6667
7  Honda      1600.000 1252.000  94.0000
8  Hundai     1600.000 1326.000  97.0000
9  Ford       1540.000 1274.200 100.0000
10 Mini       1500.000 1140.000 105.0000
11 Skoda      1400.000 1143.000  97.0000
12 Suzuki     1300.000  990.000 101.0000
13 Mitsubishi 1200.000 1160.000  95.0000
14 Hyundai    1100.000  980.000  99.0000
15 Toyoty     1000.000  790.000  99.0000
16 VW         1000.000  929.000 105.0000
17 Fiat        900.000  865.000  90.0000

## Question 11

Make a function that returns the Fibonacci sequence, then call it 7 times to return the first 7 values of the sequence. Use the correct counter function from question 9 for inspiration.

In [17]:
fibonacci <- function(){
    x <- 0
    y <- 1
    function(){
        temp <- x + y
        x <<- y
        y <<- temp
        x
    }
}

In [21]:
result <- fibonacci()

for (i in 1:7){
print(result())
}

[1] 1
[1] 1
[1] 2
[1] 3
[1] 5
[1] 8
[1] 13